@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GangwonEduPowerExtraBoldA';
}

html {
    /*overflow: hidden;*/
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.blur-it {
    filter: blur(4px);
}

a.btn2 {
    width: 200px;
    padding: 18px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 0;
    background: transparent;

    display: none;
}
a.btn2:hover {
    color: #FAECC5;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
}

.head {
    width: 100%;
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: cornflowerblue;
}

.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: blue;
}

.content {
    padding: 3%;
}

.good-job h2 {
    font-size: 30px;
    color: dodgerblue;
}

.good-job h4 {
    font-size: 20px;
}

.myback {
    background-image: url("https://post-phinf.pstatic.net/MjAxOTA2MThfMjEg/MDAxNTYwODQ4MjQxNTk0.vEXD42hxZBN_f9N__UUj9Vb6JKw6Z2TIOsc9rcn_ETog.Mp51nbRhHdsavQ8IZzK7nR6vHQX_x0UpWx-roNfFOsEg.JPEG/milky-way-984286_1280.jpg?type=w1200");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mytitle {
    color: white;
    display: none;
    text-shadow: 5px 5px #2D63A7;
    text-decoration-thickness: 5px;
}

.btn {
    display: none;
    margin-top: 60px;
}

.a_tag {
    text-decoration: none;
    color: white;
}

.myteam {
    background-image: url("https://post-phinf.pstatic.net/MjAxOTA2MThfMjEg/MDAxNTYwODQ4MjQxNTk0.vEXD42hxZBN_f9N__UUj9Vb6JKw6Z2TIOsc9rcn_ETog.Mp51nbRhHdsavQ8IZzK7nR6vHQX_x0UpWx-roNfFOsEg.JPEG/milky-way-984286_1280.jpg?type=w1200");
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
}

.nameplace {
    margin-left: 200px;
    margin-top: 45px;
    text-shadow: 2px 2px #2D63A7;
    text-decoration-thickness: 2px;
}

.nameplace:hover {
    color: #FAECC5;
}

.row {
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;

    justify-content: center;

    height: 100%;
}

.rounded-circle {
    margin-left: 170px;
    margin-top: 80px;
    transition: 0.3s;
}
.rounded-circle:hover,
.rounded-circle:focus img {
    transform: scale(1.5);
}

.featurette-divider {
    margin-bottom: 50px;
}

.featurette-image {
    border-radius: 15px;
}

.who-name {
    font-size: 60px;
    text-shadow: 1px 2px 2px gray;
}

.text-muted {
    font-size: 30px;
}

.lead {
    font-size: 19px;
}

.col-md-7 {
    width: 50%;
    height: 80%;
    margin-top: 10px;
    padding-left: 200px;
}

.col-md-5 {
    width: 50%;
    height: 80%;
    margin-top: 10px;
}

.trigger {
    font-size: 30px;
    margin-top: 7px;
    font-size: 30px;
    margin-top: 15px;
}

.but_close {
    display: block;
    margin: auto;
    background-color: white;
    animation: pulse 1500ms infinite;
}

@keyframes pulse {
    0% {
        box-shadow: #177199 0 0 0 0;
    }
    70% {
        box-shadow: #E8EFF0 0 0 0 2px;
    }
}